### 1. Python Folium을 이용하여 지도상에 버스 정류소 위치 나타내기
- https://ideans.tistory.com/10
- https://kimhongsi.tistory.com/entry/Python-%EA%B2%BD%EC%9C%84%EB%8F%84-%EC%A2%8C%ED%91%9C%EB%A1%9C-%EC%A7%80%EB%8F%84-%EB%82%98%ED%83%80%EB%82%B4%EA%B8%B0-with-Folium

In [54]:
import pandas as pd
import folium
from folium.plugins import MarkerCluster, MiniMap

In [55]:
from geoband.API import *
x = GetCompasData('SBJ_2308_003', '3', '3.완주군 버스정류장 현황.csv')

[2023-09-12 22:09:33] 성공 - 3.완주군 버스정류장 현황.csv

In [ ]:
, low_memory = False

In [78]:
df3 = pd.read_csv('3.완주군 버스정류장 현황.csv', encoding = 'utf-8')

In [79]:
df3.head(3)

   mybi_id  bis_id  stn_nm         lon        lat
0  2500010   30912  KT정보센터  127.118557  35.833751
1  2500020   30497   공수내다리  127.149530  35.805246
2  2500030   30511   공수내다리  127.149522  35.806003

In [80]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2381 entries, 0 to 2380
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   mybi_id  2381 non-null   int64
 1   bis_id   2381 non-null   int64
 2   stn_nm   2381 non-null   object
 3   lon      2381 non-null   float64
 4   lat      2381 non-null   float64
dtypes: float64(2), int64(2), object(1)
memory usage: 93.1+ KB

In [81]:
loc_data = df3[['lat','lon','stn_nm']].drop_duplicates(keep = 'first')

In [82]:
loc_data = df3.groupby(['stn_nm'])[['lat', 'lon']].mean()

In [83]:
loc_data.reset_index(inplace = True)

In [84]:
loc_data.columns = ['stop_name', 'latitude', 'longitude']

In [85]:
loc_data.head(3)

  stop_name   latitude   longitude
0       BYC  35.820572  127.007876
1    CGV서전주  35.816592  127.105980
2   CTS전북방송  35.820099  127.146497

In [87]:
mc = MarkerCluster()

In [88]:
for row in loc_data.itertuples():
    mc.add_child(folium.Marker(location = [row.latitude, row.longitude], popup = row.stop_name))
    map_wj.add_child(mc)

NameError: name 'map_wj' is not defined

In [65]:
map_wj.save('./bus_stops.html')

NameError: name 'map_wj' is not defined

### 2. 정류장을 구글 지도 위에 점으로 나타내기
- https://blog.naver.com/PostView.naver?blogId=kcchang61&logNo=221349264606&parentCategoryNo=&categoryNo=13&viewDate=&isShowPopularPosts=false&from=postView
- https://www.tutorialspoint.com/plotting-google-map-using-gmplot-package-in-python

In [69]:
# pip install gmplot

In [66]:
from gmplot import gmplot
gmap = gmplot.GoogleMapPlotter(35.820572, 127.007876, 13)
gmap.apikey = 'AIzaSyDA1h10HPtrRa-bgh0nBjH8cKqi0lXkOxw'
gmap.draw('map11.html')

In [67]:
from gmplot import gmplot
import webbrowser
import csv

filename = '3.완주군 버스정류장 현황.csv'

lats, lons = [], []

with open(filename) as f:
    reader = csv.reader(f)
    next(reader)
    for row in reader:
        lons.append(float(row[3]))
        lats.append(float(row[4]))

gmap3 = gmplot.GoogleMapPlotter(35.820572, 127.007876, 13)

gmap3.scatter(lats, lons, '#FF0000',size = 50, marker = False)

gmap3.apikey = 'AIzaSyDA1h10HPtrRa-bgh0nBjH8cKqi0lXkOxw'

gmap3.draw('google_bus.html')