In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.plugins import MarkerCluster, MiniMap

In [2]:
from geoband.API import *
x = GetCompasData('SBJ_2102_002', '1', '1.수원시_버스정류장.csv')
x = GetCompasData('SBJ_2102_002', '2', '2.수원시_버스정류장별_승하차이력(1).csv')
x = GetCompasData('SBJ_2102_002', '3', '3.수원시_버스정류장별_승하차이력(2).csv')
x = GetCompasData('SBJ_2102_002', '4', '4.수원시_버스정류장별_승하차이력(3).csv')
x = GetCompasData('SBJ_2102_002', '5', '5.수원시_버스정류장별_승하차이력(4).csv')
x = GetCompasData('SBJ_2102_002', '6', '6.수원시_버스정류장별_승하차이력(5).csv')
x = GetCompasData('SBJ_2102_002', '7', '7.수원시_버스정류장별_노선현황.csv')
x = GetCompasData('SBJ_2102_002', '14', '14.수원시_시간대별_유동인구(2020).csv')

[2023-09-30 21:18:39] 성공 - 1.수원시_버스정류장.csv
[2023-09-30 21:18:40] 성공 - 2.수원시_버스정류장별_승하차이력(1).csv
[2023-09-30 21:18:41] 성공 - 3.수원시_버스정류장별_승하차이력(2).csv
[2023-09-30 21:18:42] 성공 - 4.수원시_버스정류장별_승하차이력(3).csv
[2023-09-30 21:18:44] 성공 - 5.수원시_버스정류장별_승하차이력(4).csv
[2023-09-30 21:18:44] 성공 - 6.수원시_버스정류장별_승하차이력(5).csv
[2023-09-30 21:18:44] 성공 - 7.수원시_버스정류장별_노선현황.csv
[2023-09-30 21:18:46] 성공 - 14.수원시_시간대별_유동인구(2020).csv

In [3]:
df1 = pd.read_csv('1.수원시_버스정류장.csv', low_memory = False)
df2 = pd.read_csv('2.수원시_버스정류장별_승하차이력(1).csv', low_memory = False)
df3 = pd.read_csv('3.수원시_버스정류장별_승하차이력(2).csv', low_memory = False)
df4 = pd.read_csv('4.수원시_버스정류장별_승하차이력(3).csv', low_memory = False)
df5 = pd.read_csv('5.수원시_버스정류장별_승하차이력(4).csv', low_memory = False)
df6 = pd.read_csv('6.수원시_버스정류장별_승하차이력(5).csv', low_memory = False)
df7 = pd.read_csv('7.수원시_버스정류장별_노선현황.csv', low_memory = False)
df14 = pd.read_csv('14.수원시_시간대별_유동인구(2020).csv', low_memory = False)

In [4]:
df1 = pd.read_csv('1.수원시_버스정류장.csv', low_memory = False)

In [5]:
df1 = df1.drop(['정류장명', '정류장유형', '환승역타입', '위치(동)', '쉘터', 'BIS설치여부', 'LED', 'LCD', 'LED+LCD복합형', '알뜰형', '임대형(음성)'], axis = 1)

In [6]:
df1.head()

       정류장ID         lon        lat
0  201000313  126.970983  37.256983
1  201000344  126.991029  37.244605
2  201000345  127.016000  37.251091
3  201000379  126.953845  37.268806
4  201000055  127.029815  37.256755

In [23]:
bus_data = pd.merge(df2, df1, left_on='정류소ID', right_on='정류장ID', how='left')
bus_data.drop(columns=['정류장ID'], inplace=True)
bus_data

,일자,업체명,노선번호,노선유형,정류소명,정류소ID,전체 승차 건수,초승 건수,환승 건수,전체 하차 건수,하차 건수,미태그 건수,lon,lat
0,20200101,(주)용남고속버스라인,3003,직행좌석형시내버스,서부공영차고지,201000446,1,1,0,0,0,0,126.962954,37.255312
1,20200101,(주)용남고속버스라인,3003,직행좌석형시내버스,구운동주민센터.서수원도서관,201000173,4,4,0,0,0,0,126.970565,37.274273
2,20200101,(주)용남고속버스라인,3003,직행좌석형시내버스,구운중학교,201000171,4,4,0,0,0,0,126.976483,37.275572
3,20200101,(주)용남고속버스라인,3003,직행좌석형시내버스,웃거리,201000031,5,4,1,0,0,0,126.978928,37.277084
4,20200101,(주)용남고속버스라인,3003,직행좌석형시내버스,구운오거리.경기중소기업성장지원센터,201000030,5,5,0,0,0,0,126.974089,37.281400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364443,20200803,남양여객,400,일반형시내버스,신병원.대원.거산아파트,201000019,13,12,1,49,49,0,126.983820,37.251840
364444,20200803,남양여객,400,일반형시내버스,고색초교.태산아파트,201000018,33,23,10,25,25,0,126.979691,37.250643
364445,20200803,남양여객,400,일반형시내버스,서수원주민편익시설,201000488,7,5,2,12,12,0,126.972375,37.248607
364446,20200803,남양여객,400,일반형시내버스,수원여자대학입구,201000017,0,0,0,24,24,0,126.965637,37.246711
364447,20200803,남양여객,400,일반형시내버스,오목천동태산아파트.서희스타힐스,201000016,99,53,46,63,63,0,126.962876,37.245825

In [19]:
# 데이터프레임을 CSV 파일로 저장
bus_data.to_csv('first.csv', index=False, encoding='utf-8-sig')

In [ ]:
import pandas as pd
import numpy as np

# haversine 함수 정의
def haversine(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    m = km * 1000  # convert km to m
    return m

# 데이터 로드
population_data = pd.read_csv('수원시_시간대별_유동인구(2020).csv')

# 데이터 병합을 위한 새로운 DataFrame 생성
merged_data = bus_data.copy()

# 유동인구 데이터의 각 row에 대해 반복
for index, pop_row in population_data.iterrows():
    # 버스 정류장 데이터의 각 row에 대해 반복
    for j, bus_row in bus_data.iterrows():
        # haversine 함수를 사용하여 거리 계산
        distance = haversine(bus_row['lon'], bus_row['lat'], pop_row['lon'], pop_row['lat'])

        # 거리가 100m 이내일 경우 유동인구 데이터를 병합
        if distance <= 100:
            for col in population_data.columns:
                if col not in ['lon', 'lat']:
                    # 유동인구 데이터의 column 이름을 변경하여 병합
                    new_col_name = f"{col}_pop"
                    if new_col_name not in merged_data.columns:
                        merged_data[new_col_name] = None
                    merged_data.at[j, new_col_name] = pop_row[col]

# 결과 출력
print(merged_data.head())